
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  background-color:#dfd2d6;
}

.button {
  background-color: #eee7e7;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid #5a3f3f;
  font-family: 'Abel', sans-serif;
}

#title {
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

#timer-label-container {
  position: relative;
  background-color: red;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
  border-radius: 20px 20px 20px 20px;
}

#timer-label {
  text-align: center;
  font-size: 20px;
}

#time-left {
  text-align: center;
  font-size: 40px;
}

#timer-buttons {
  margin: 0;
  position: absolute;
  left: 35%;
  bottom: 5px;
}

#session-label {
  position: absolute;
  background-color: red;
  width: 200px;
  height: 100px;
  left: 100px;
  font-family: 'Fredoka One', cursive;
  border-radius: 20px 20px 20px 20px;
  font-size: 15px;
}

#session-title {
  text-align: center;
}

#session-length {
  text-align: center;
}

#session-buttons {
  margin: 0;
  position: absolute;
  left: 40%;
  bottom: 5px;
}

#break-label {
  position: absolute;
  background-color: red;
  width: 200px;
  height: 100px;
  right: 100px;
  font-family: 'Fredoka One', cursive;
  border-radius: 20px 20px 20px 20px;
  font-size: 15px;
}

#break-title {
  text-align: center;
}

#break-length {
  text-align: center;
}

#break-buttons {
  margin: 0;
  position: absolute;
  left: 40%;
  bottom: 5px;
}

@media (max-width: 750px) {
  #break-label {
    right: 50px
  }
  #session-label {
    left: 50px
  }
}

@media (max-width: 400px) {
  #break-label {
    right: 10px
  }
  #session-label {
    left: 10px
  }
}